
<form action="/hippo/create" method="get">
  <input type="text" name="name" placeholder="hippo name">
  <input type="text" name="color" placeholder="hippo color">
  <input type="number" name="age" placeholder="hippo age">
  <input type="submit" value="Simulate Hippo">
</form>
